.App {
  background: #688AB7;
  font-family: "Helvetica Neue", Helvetica, Arial; }

.record-image-container {
  position: relative;
  height: 100%;
  width: auto;
  float: left;
  display: table; }

.record-details-container {
  position: relative; }

.record-image {
  height: 100%;
  margin-top: 15px;
  max-height: 255px;
  width: 100%;
  top: 0;
  display: block; }
  .record-image:hover {
    cursor: pointer; }

li {
  list-style-type: none; }

.record-info {
  width: 100% !important;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #D5AE73;
  position: absolute;
  pointer-events: none;
  background: #4F5D75;
  opacity: .95;
  padding: 20px 0 0 20px; }

.record-text {
  color: #C6D8D3; }
