.App {
	// background: #96858F;
	background: #BFD8D2;
	// font-family: "Helvetica Neue", Helvetica, Arial;
	font-family: 'Libre Franklin', sans-serif;
	padding: 50px 30px;
}

.header-image {
	height: 120px;
	width: 200px;
}

.header-image img {
	height: auto;
  width: 100%;
}

.record-list-container {
	background: #F4F4F4;
	border: 1px solid grey;
	box-shadow: 8px 8px 6px -6px black;
	padding: 30px 50px;
}

.record-image-container {
	position: relative;
	height: 100%;
	width: auto;
	float: left;
	display: table;
}

.record-details-container {
	position: relative;
}

.record-image {
	border: 1px solid grey;
	box-shadow: 8px 8px 6px -6px black;
	display: block;
	height: 100%;
	max-height: 255px;
	margin-top: 15px;
	top: 0;
	width: 100%;

	&:hover {
		// border: 2px solid #EF8354;
		cursor: pointer;
		// box-shadow: 5px 5px;
	}
}

li {
	list-style-type: none;
} 

.record-info {
  width: 100% !important;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  pointer-events: none;
  background: #E1E8F2;
  opacity: .95;
  padding: 20px 0 0 20px;

}

.record-text {
	color: #170E15;
	opacity: 1;
}