.App {
	// background: #96858F;
	background: #BFD8D2;
	// font-family: "Helvetica Neue", Helvetica, Arial;
	font-family: 'Libre Franklin', sans-serif;
	padding: 50px 30px;
}

.loading-spinner-container {
	margin: 0 auto;
}

.header {
	font-family: 'Rubik', sans-serif;
}

.header-image {
	height: 120px;
	width: 200px;
}

.header-image img {
	height: auto;
  width: 100%;
}

.record-list-container {
	background: #F4F4F4;
	// border: 1px solid grey;
	// box-shadow: 8px 8px 6px -6px black;
	padding: 30px 50px;
}

.record-image-container {
	position: relative;
	height: 100%;
	width: auto;
	float: left;
	display: table;
}

.record-details-container {
	position: relative;
}

.record-image {
	border: 1px solid grey;
	box-shadow: 8px 8px 6px -6px black;
	display: block;
	height: 100%;
	max-height: 255px;
	margin-top: 15px;
	top: 0;
	width: 100%;

	&:hover {
		// border: 2px solid #EF8354;
		cursor: pointer;
		// box-shadow: 5px 5px;
	}
}

li {
	list-style-type: none;
} 

.record-info {
	background:       #E1E8F2;
	bottom:           0;
	height:           100%;
	left:             0;
	opacity:          .95;
	padding:          20px 0 0 20px;
	pointer-events:   none;
	position:         absolute;
	right:            0;
  top:              0;
  width:    				100% !important;
  transition:           height 500ms ease;
    -moz-transition:    height 500ms ease;
    -ms-transition:     height 500ms ease;
    -o-transition:      height 500ms ease;
    -webkit-transition: height 500ms ease;

}

.record-text {
	color: #170E15;
	opacity: 1;
}