html {
  height: 100%; }

body {
  min-height: 100%; }

#root {
  height: 100vh; }

.homepage-container {
  font-family: 'Rubik', sans-serif; }

.homepage-container a {
  color: inherit; }

.homepage-container .homepage-header {
  background: paleturquoise;
  font-weight: 700;
  left: 10px;
  top: 10px; }

.homepage-container .hero-section-left {
  font-size: 29px;
  padding: 10% 0; }

.homepage-container .hero-section-right {
  padding: 10% 0; }

.homepage-container .nav-link {
  text-decoration: none;
  padding: 10px 0; }

.homepage-container .github-logo {
  max-height: 50px;
  max-width: 50px;
  margin: 15px; }

.homepage-container .linkedin-logo {
  max-height: 50px;
  max-width: 50px; }

.homepage-container .portfolio-item-image img {
  height: 100%;
  width: 100%; }

.App {
  font-family: 'Rubik', sans-serif;
  padding: 50px 30px;
  min-height: 100%; }

.bg-color {
  background: #BFD8D2; }

.header {
  font-family: 'Rubik', sans-serif; }

.header .header-image {
  height: 120px;
  width: 200px; }

.header .header-image img {
  height: auto;
  width: 100%; }

.record-container-intro-copy {
  font-size: 21px;
  font-weight: 700;
  text-align: center; }

.record-list-container {
  background: #F4F4F4;
  padding: 30px 50px; }

.record-list-container .loading-spinner-container {
  margin: 0 auto; }

.record-image-container {
  display: table;
  float: left;
  height: 100%;
  position: relative;
  width: auto; }

.record-details-container {
  position: relative; }

.record-image {
  border: 1px solid grey;
  box-shadow: 8px 8px 6px -6px black;
  display: block;
  height: 100%;
  max-height: 255px;
  margin-top: 15px;
  top: 0;
  width: 100%; }

.record-image:hover {
  cursor: pointer; }

li {
  list-style-type: none; }

.record-info {
  background: #111112;
  bottom: 0;
  color: #E0E0E0;
  font-size: 16px;
  font-weight: 700;
  height: 100%;
  left: 0;
  opacity: .95;
  padding: 20px 0 0 20px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: bottom 0.5s ease;
  width: 100% !important; }

.fa-external-link-alt {
  margin-right: 5px;
  position: absolute;
  right: 0;
  top: 5px; }

.record-text {
  color: #9e5a75;
  opacity: 1; }
