html {
  height: 100%; }

body {
  min-height: 100%;
  overflow: hidden;
  background: #edf1f5; }

#root {
  height: 100vh; }

.App {
  font-family: 'Teko', sans-serif;
  padding: 50px 30px;
  min-height: 100%; }

.loading-spinner-container {
  margin: 0 auto; }

.record-container-intro-copy {
  font-size: 21px;
  font-weight: 700;
  text-align: center; }

.record-image-container {
  float: left;
  width: auto; }

.record-details-container {
  align-items: flex-start; }

.record-image {
  border: 1px solid grey;
  box-shadow: 8px 8px 6px -6px black;
  height: 100%;
  max-height: 255px;
  margin-top: 15px;
  top: 0;
  width: 100%; }

.record-image:hover {
  cursor: pointer; }

.record-text {
  color: #9e5a75;
  opacity: 1; }

.record-table-item-image {
  max-height: 4.5rem;
  max-width: 4.5rem; }

.table-head-column-name:hover {
  cursor: pointer; }

.fa-headphones:hover {
  cursor: pointer; }

.music-player-button {
  color: #fff;
  cursor: pointer;
  font-size: 30px; }

.yt-button {
  background: black;
  position: absolute;
  z-index: 1; }

.yt-video {
  height: 100%; }

.youtubeComponent-wrapper {
  max-width: 50%; }

.progress-bar {
  background-color: #37276e;
  height: 3px; }

.list-view__container-main {
  display: flex;
  min-height: 100%;
  justify-content: center;
  flex-direction: column; }

.list-view__container-main .list-view__collection-container {
  align-self: center;
  display: flex;
  font-weight: 700;
  margin: 0;
  background: transparent;
  border-radius: 5px;
  height: 89vh;
  animation: fadein 0.5s;
  justify-content: flex-end; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.list-view__container-main .list-view__collection-container .list-view__control-panel {
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 0px 6px 1px rgba(0, 0, 0, 0.47);
  width: 25%;
  margin: 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.list-view__container-main .list-view__collection-container .list-view__control-panel .list-view__title {
  margin: 0.625rem; }

.list-view__container-main .list-view__collection-container .list-view__control-panel .list-view__title h1 {
  margin-bottom: 0; }

.list-view__container-main .list-view__collection-container .list-view__control-panel .list-view__control-panel-genre-cloud {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 0.5rem;
  overflow: scroll;
  margin: 2rem 0 0; }

.list-view__container-main .list-view__collection-container .list-view__control-panel .list-view__control-panel-genre-cloud .list-view__control-panel-genre-cloud-item {
  background: #edf1f5;
  border-radius: 10px;
  margin: 0 0.25rem 0.5rem;
  padding: 0.3rem;
  font-size: 0.75rem;
  cursor: pointer; }

.list-view__container-main .list-view__collection-container .list-view__control-panel .list-view__control-panel-genre-cloud .list-view__control-panel-genre-cloud-item span {
  color: #7584f0; }

.list-view__container-main .list-view__collection-container .list-view__type {
  width: 100%; }

.list-view__container-main .list-view__collection-container .list-view__type-toggle {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0 0; }

.list-view__container-main .list-view__collection-container .list-view__type-toggle > span {
  background: #edf1f5;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 10px;
  padding: 0.5rem 1.5rem; }

.list-view__container-main .list-view__collection-container .list-view__type-toggle > span.selected {
  background: rgba(112, 192, 255, 0.5); }

.list-view__container-main .list-view__collection-container .list-view__type-toggle > span span {
  color: #7584f0; }

.list-view__container-main .list-view__collection-container .list-view__sort-bar {
  align-items: center;
  background: #7584f0;
  display: grid;
  font-family: 'Teko', sans-serif;
  font-size: 1.6rem;
  grid-template-columns: repeat(7, 1fr);
  padding: 1rem 0;
  margin: 0.625rem;
  border-radius: 10px; }

.list-view__container-main .list-view__collection-container .list-view__sort-bar span {
  color: #4eff45;
  text-align: center; }

.list-view__container-main .list-view__collection-container .list-view__records-container {
  background: #edf1f5;
  border-radius: 10px;
  box-shadow: 1px 0px 6px 1px rgba(0, 0, 0, 0.47);
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 0 0; }

.list-view__container-main .list-view__collection-container .list-view__records-container ul {
  overflow: scroll;
  padding: 0; }

.list-view__container-main .list-view__collection-container .list-view__record-item {
  align-items: center;
  background: #fff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 0.5rem;
  font-family: 'Teko', sans-serif;
  font-size: 1rem;
  height: 6rem;
  margin: 0.625rem; }

.list-view__container-main .list-view__collection-container .list-view__record-item .record-table-item-image {
  box-shadow: 1px 0px 6px 1px rgba(0, 0, 0, 0.47);
  border: 0.5px solid black; }

.list-view__container-main .list-view__collection-container .list-view__record-item span {
  text-align: center; }

.list-view__container-main .list-view__collection-container .list-view__record-item.hidden {
  display: none; }

.list-view__container-main .list-view__music-player-bar {
  background: #fff;
  border-radius: 10px;
  height: 8vh;
  margin: 1rem;
  box-shadow: 1px 0px 6px 1px rgba(0, 0, 0, 0.47);
  color: #1c1a1a;
  font-size: 1.25rem; }

.list-view__container-main .list-view__music-player-bar .music-player-bar__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%; }

.list-view__container-main .list-view__music-player-bar .music-player-bar__info.hidden {
  display: none; }

.list-view__container-main .list-view__music-player-bar iframe {
  display: none; }

span {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadein 0.5s; }

.music-bar-item-image {
  box-shadow: 4px 4px 6px -6px black;
  max-height: 60px;
  max-width: 60px; }
